.show-text {
  margin: 16px 0 0 16px;
  text-align: left;

  h6 {
    font-size: 18px;
    letter-spacing: 0.6px;
  }

  p {
    font-size: 16px;
    letter-spacing: 0.2px;
  }
}

.audio-display {
  padding: 14px 14px 0px 14px;
  text-align: center;
  margin: 20px;
}

.landmark_show_title {
  margin: 20px;
  font-size: 30px;
  text-align: center;
}

.landmark-rating {
    text-align: initial;
    font-size: 16px;
}

.top-landmark-show{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: start;
}
