<input type="checkbox" id="menu-toggle"/>
<label id="trigger" for="menu-toggle"></label>
<label id="burger" for="menu-toggle"></label>
<ul id="menu">
  <li id='navbar__link' class="nav-li"><a href="/" id='navbar__link-name' class="nav-a">Home</a></li>
  <% if user_signed_in? %>
  <li id='navbar__link' class="nav-li">
    <%= link_to "Log Out", destroy_user_session_path, id:"navbar__link-name", class: "nav-a" %>
  </li>
  <% else %>
    <li id='navbar__link' class="nav-li"><%= link_to "Log In", new_user_session_path, id:"navbar__link-name", class: "nav-a" %></li>
  <% end %>
  <li id='navbar__link' class="nav-li"><%= link_to "Dashboard", dashboard_path, id:"navbar__link-name", class: "nav-a" %></li>
  <li id='navbar__link' class="nav-li"><a href="#" id='navbar__link-name' class="nav-a">Be a Guide</a></li>
  <li id='navbar__link' class="nav-li"><a href="#" id='navbar__link-name' class="nav-a">Support</a></li>
  <li id='navbar__link' class="nav-li"><a href="#" id='navbar__link-name' class="nav-a">About Us</a></li>
  <li id='navbar__link' class="nav-li"><a href="#" id='navbar__link-name' class="nav-a">Advertise</a></li>
</ul>
