<%= content_for(:navbar_class, "navbar-transparent") %>

<div class="banner-home">
  <div class="banner-home-content text-center">
    <h1>walking/stick</h1>
    <p>Walking Tours Reimagined</p>
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" placeholder="What should we say here?" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i>
        </button>
      </div>
    <% end %>
  </div>
</div>
