<%= content_for(:navbar_class, "navbar-transparent") %>

<body style="background-color: #ffbc42;">
  <div class="banner-home">
    <div class="banner-container">
      <div class="banner-home-content text-center">
        <%=image_tag "ws_logo_w_slogan.png", alt:"Walking Stick", width:"250px", style:"margin-top: 75px; margin-bottom: 200px;"%>
         <%# <h1>walking/stick</h1>
        <p>Walking Tours Reimagined</p> %>
        <%= render 'shared/search_form';
 %>
      </div>
    </div>
  </div>

<div class="card-home-green-girl">
  <div class="card-home-green-girl__text">
    <h5>Free Walking Tours Meets Podcasts!</h5>
  </div>
</div>

<div class="card-home-man">
  <div class="card-home-man__text">
    <h5>Walk</h5>
    <p>Walking tours created by top city guides.</p>
  </div>
</div>

<div class="card-home-red-girl">
  <div class="card-home-red-girl__text">
    <h5>Listen</h5>
    <p>Audioguides for full tour immersion.</p>
  </div>
</div>
