<%= content_for(:navbar_class, "navbar-transparent") %>

<div class="banner-home">
  <div class="banner-home-content text-center">
    <div class="container">
        <div class="d-flex justify-content-center">
            <h1 id="walking_tx_logo">walking</h1>
            <div height="120" class="self-align-center" id="stick_logo">
              <%= image_tag 'noun_stick_80345.png' %>
            </div>
            <h1 class="align-self-end" id="stick_tx_logo">stick</h1>
        </div>
    </div>
    <p>Walking Tours Reimagined</p>
    <p>Free Walking Tours Meets Podcasts!</p>
    <div class="d-flex justify-content-center">
      <%= render 'shared/search_form' %>
    </div>
  </div>
</div>
