<%= content_for(:navbar_class, "navbar-transparent") %>

<div class="banner-home">
  <div class="banner-home-content text-center">
    <h1>walking/stick</h1>
    <p>Walking Tours Reimagined</p>
    <%= render 'shared/search_form' %>
  </div>
</div>
