.btn-gradient {
  color: white;
  padding: 56px 320px;
  border-radius: 24px;
  font-weight: bold;
  background: linear-gradient(#218380, #0f5e5b);
  transition: background 0.3s ease;
  border: 1px solid #218380;

  &:hover {
    background: linear-gradient(#1bada9, #0f5e5b);
    color: white;
  }
}
