.btn-gradient {
  color: white;
  width: 280px;
  padding: 10px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  background: #218380;
  transition: background 0.3s ease;
  border: 1px solid #218380;

  &:hover {
    background: linear-gradient(#179691, #0f5e5b);
    color: white;
  }
}

.btn-flat {
  color: white;
  padding: 6px 24px;
  border-radius: 32px;
  background: #218380;
  transition: background 0.3s ease;
  border: 1px solid #000000;

  &:hover {
    background: #1b6d6a;
    color: white;
  }
}
