.btn-gradient {
  color: white;
  padding: 14px 92px;
  border-radius: 32px;
  font-size: 24px;
  font-weight: bold;
  background: #218380;
  transition: background 0.3s ease;
  border: 1px solid #218380;

  &:hover {
    background: linear-gradient(#179691, #0f5e5b);
    color: white;
  }
}
