.card-walk {
  overflow: hidden;
  height: 14vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 16px 0 16px 0;
  color: black;


  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  p {
    font-size: 12px;
    margin: 1px 0;
  }

  .card-walk-infos {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-group-top {
    text-align: left;
    height: 50%;
  }

  .card-group-bottom {
    font-weight: 500;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.fa-star {
  color: rgba($color: #FAB12D, $alpha: 1.0);
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75)
}


.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px 0 16px 0;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}
