.card-walk {
  overflow: hidden;
  height: 14vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 16px 0 16px 0;
  color: black;


  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
  }

  h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2px;
  }

  p {
    font-size: 12px;
    margin: 1px 0;
  }

  .card-walk-infos {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-group-top {
    text-align: left;
    height: 50%;
  }

  .card-group-bottom {
    font-weight: 500;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

.fa-star {
  color: rgba($color: #e9d200, $alpha: 1.0);
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75)
}
