.card-walk {
  overflow: hidden;
  height: 14vh;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  margin: 16px 0 16px 0;
  color: black;

  img {
    height: 100%;
    width: 40%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    font-stretch: expanded;
    margin-bottom: 2px;
  }

  p {
    font-size: 12px;
    margin: 1px 0;
    font-stretch: expanded;
  }

  .card-walk-infos {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .card-group-top {
    text-align: left;
    height: 50%;
  }

  .card-group-bottom {
    font-weight: 500;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

//------------------------------

.fa-star {
  color: rgba($color: #FAB12D, $alpha: 1.0);
  text-shadow: 0.5px 0.5px rgba(0, 0, 0, 0.75)
}

//------------------------------

.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 16px 0 16px 0;
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 0 black;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  text-shadow: 0 0 black;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

//--------------------------------------

.card-home-green-girl {
  background-image: url('girl_green.jpg');
  height: 58vh;
  width: 85vw;
  margin: auto;
  border-radius: 46px;
  position: absolute;
  top: 96vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background-size: cover;
  color: white;
  text-shadow: 1px 4px 10px rgba(0,0,0,0.8);
}

.card-home-green-girl__text{
  height: 12vh;
  display:flex;
  flex-direction: column;
  justify-content: center;

  h5{
    margin: 0;
    padding: 40px;
  }
}

//--------------------------------------

.card-home-man {
  background-image: url('man_brown.jpg');
  height: 40vh;
  width: 85vw;
  margin: auto;
  border-radius: 46px;
  position: absolute;
  top: 157vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background-size: cover;
  color: white;
  text-shadow: 1px 4px 10px rgba(0,0,0,0.8);
}

.card-home-man__text {
  height: 40vh;
  display:flex;
  flex-direction: column;
  text-align: left;
  padding: 6vw;
  margin-top: 22vh;

  h5 {
    margin: 0
  }

  p {
    padding: 0 80px 0 0;
  }
}

//--------------------------------------

.card-home-red-girl {
  background-image: url('girl_red.jpg');
  height: 40vh;
  width: 85vw;
  margin: auto;
  border-radius: 46px;
  position: absolute;
  top: 200vh;
  left: 50%;
  transform: translate(-50%, 0%);
  background-size: cover;
  color: white;
  text-shadow: 1px 4px 10px rgba(0,0,0,0.8);
}

.card-home-red-girl__text {
  height: 40vh;
  display:flex;
  flex-direction: column;
  text-align: right;
  padding: 6vw;
  margin-top: 2vh;

  h5 {
    margin: 0
  }

  p {
    padding: 0 0 0 80px;
  }
}
