#map {
  align-items: center;
  height: 80vh;
  width: 100%;

  .mapboxgl-ctrl-top-left {
    width: 100%;
    display: flex;
    justify-content: center;

    .mapboxgl-ctrl {
      margin: 0;
    }
  }

  .mapbox-directions-instructions {
    overflow: visible;
  }

  .mapbox-directions-instructions-wrapper {
    max-height: 10vh;
    max-width: 100vh;
    text-align: center;
  }

  .mapbox-directions-route-summary {
    background-color: $walkingstick-green;
  }
  .directions-control.directions-control-directions {
    background: #c44536;
  }
}

.map_container {
  position: relative;
}

#nav_btn {
  position: absolute;
  top: 12px;
  z-index: 100;
  right: 38px;
}
