#map {
  align-items: center;
  height: 80vh;
  width: 100%;

  .mapboxgl-ctrl-top-left {
    width: 100%;
    display: flex;
    justify-content: center;

    .mapboxgl-ctrl {
      margin: 0;
    }
  }

  .mapbox-directions-instructions {
    overflow: visible;
  }

  .mapbox-directions-instructions-wrapper {
    max-height: 10vh;
    max-width: 100vh;
    text-align: center;
  }

  .mapbox-directions-route-summary {
    background-color: $walkingstick-green;
  }
  .directions-control.directions-control-directions {
    background: #c44536;
  }
}

.overall_map_container {
  width: 100px;
  height: 100px;
  position: relative;
}
.map_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:10;
}
#nav_btn {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
